@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

.homepage-heading {
  background-image: url('./assets/mnnit.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-heading-title {
  font-size: 100px;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 10px 2px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.homepage-heading-title-full {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-shadow: 10px 2px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.homepage-heading-timeline-link {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: whitesmoke;
  transition: 0.8s;
  border: 1px solid #ec1840;
  border-radius: 100px;
}

.homepage-heading-timeline-link:hover {
  border: 1px solid transparent;
  animation: animate 1s;
  border: 1px solid #ec1840;
  background-color: #850d24;
}
@keyframes animate {
  0% {
    background-color: none !important;
  }
  100% {
    background-color: #850d24 !important;
  }
}

/* About SAC */
.homepage-aboutSAC {
  display: flex;
  height: 50vh;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100vw;
}

.homepage-aboutSAC-box {
  width: 50vw;
  padding: 20px;
}
.homepage-aboutSAC-box.about-text {
  background-color: #ec1840;
  margin: 10px;
  border-radius: 20px;
}
.homepage-aboutSAC-text.title {
  font-weight: 600;
  text-align: center;
  font-size: 40px;
}
.homepage-aboutSAC-text.description {
  padding: 10px;
  overflow: scroll;
  height: 80%;
}
.homepage-aboutSAC-text.description::-webkit-scrollbar {
  display: none;
}

.event-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 2rem;
}

.event-row::-webkit-scrollbar {
  height: 10px;
}

.event-row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.event-row::-webkit-scrollbar-thumb {
  background: #ec1840;
  border-radius: 10px;
}

.event-row::-webkit-scrollbar-thumb:hover {
  background: #b91232;
}

.event-card {
  max-width: 200px;
  height: 300px;
  padding: 0.75rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  border: #222 1px solid;
  border-radius: 20px;
  margin: 10px;
}

.event-card > img {
  height: 200px;
  max-width: 200px;
  margin-bottom: 0.75rem;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.event-card-title {
  font-size: 105%;
  font-weight: 600;
}
.event-card-text {
  font-size: 85%;
}

.homepage-events-title {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
}

.club-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
.club-row::-webkit-scrollbar {
  height: 10px;
}

.club-row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.club-row::-webkit-scrollbar-thumb {
  background: #ec1840;
  border-radius: 10px;
}

.club-row::-webkit-scrollbar-thumb:hover {
  background: #b91232;
}

.club-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 30px;
}
.club-card:last-of-type {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left: 30px;
  margin-right: 30px;
}
.club-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.club-card:hover .club-card-inner {
  transform: rotateY(180deg);
}
.club-card-front,
.club-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.club-card-front {
  background-color: #bbb;
  color: black;
  overflow: hidden;
}
.club-card-back {
  background-color: #b91232;
  color: white;
  transform: rotateY(180deg);
}

.homepage-club-title {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
}

.footer {
  width: 100%;
  margin-top: 20px;
  background-color: #850d24;
  color: white;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 80%;
  max-width: 1280px;
}

.footer-icon {
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  background: #520816;
}

.footer-text {
  text-align: center;
  margin: 0px 15px;
  font-weight: 600;
  font-size: 40px;
  cursor: default;
  user-select: none;
}

.footer-item {
  color: white;
  text-decoration: none;
  margin: 5px 0px;
  padding: 5px 10px 5px 10px;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 20px 0px;
  padding: 0px 50px;
}

.footer-item:hover {
  background: #520816;
}

@media (max-width: 770px) {
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }

  .links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* About SAC */
  .homepage-aboutSAC {
    display: block;
    height: fit-content;
  }
  .homepage-aboutSAC-box {
    width: 100vw;
    height: 300px;
  }
  .homepage-aboutSAC-box.about-text {
    margin: 1vw;
    width: 90vw;
  }
}
