@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

.homepage-heading {
  background-image: url('./assets/mnnit.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-heading-title {
  font-size: 100px;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 10px 2px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.homepage-heading-title-full {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-shadow: 10px 2px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.homepage-heading-timeline-link {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: whitesmoke;
  transition: 0.8s;
  border: 1px solid #ec1840;
}

.homepage-heading-timeline-link:hover {
  border: 1px solid transparent;
  background: #ec1840 url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate 0.8s steps(8) forwards;
}
@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
